@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<div class="jumbotron">
    <div class="container">
        <hgroup class="title">
            <h2>@ViewBag.Title.</h2>
        </hgroup>
        <div>
            <p class="text-success">
                Please check your email to reset your password.
            </p>
        </div>
    </div>
</div>